.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 220px);
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  max-width: 400px;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 20px;
}

h2 {
  text-align: center;
  margin-bottom: 10px;
  margin-top: 1px;
}

.formGroup {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 10px 0;
}

label {
  font-weight: bold;
}

input[type="text"],
textarea {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  margin-top: 5px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: rgba(47, 177, 77, 0.5); 
}

.errorBox {
  border: 1px solid #ff4d4f;
  background-color: #fff1f0;
  color: #ff4d4f;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
}

.errorBox p {
  margin: 0;
}