.bookDetails {
    position: relative;
    height: calc(100vh - (200px));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #000000; 
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); 
    max-width: 600px;
  }
  
  .bookDetails button {
    background: #007bff; 
    color: #fff; 
    padding: 10px 20px;
    margin: 10px; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 80px;
  }
  
  .bookDetails button:hover {
    background: rgba(255, 255, 255, 0.5); 
  }
  
  .bookDetails button {
    display: inline-block;
  }
  
 

  .buttonContainer {
    display: flex;
    justify-content: space-around; 
  }