.registerContainer {
    max-width: 400px;
    padding: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    position: relative;
    /* z-index: 1; */
}


.registerContainer h2 {
    font-size: 30px;
    margin-bottom: 30px;
    text-align: center;

}

.inputGroup {
    margin-bottom: 15px;
    position: relative;

}

.inputGroup label {
    display: block;
    font-weight: bold;
}

.inputGroup input {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.registerButton {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;

}

.registerButton:hover {
    background-color: #0056b3;
}

.errorBox {
    border: 1px solid #ff4d4f;
    background-color: #fff1f0;
    color: #ff4d4f;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
}

.errorBox p {
    margin: 0;
}

.showPasswordButton {
    position: absolute;
    right: 1px;
    top: 5%;
    transform: translateY(20%);
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .showPasswordButton::before {
    content: '\1F441';
    font-size: 1.2em;
    color: #333;
  }

  .showRepassButton {
    position: absolute;
    right: 1px;
    top: 5%;
    transform: translateY(20%);
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .showRepassButton::before {
    content: '\1F441';
    font-size: 1.2em;
    color: #333;
  }